{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crinkle</title>
    <!-- Bootstrap.CSS -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <!-- Font Auesome Library -->
    <link rel="stylesheet" href="{%  static 'css/all.min.css' %}">
    <!-- Styles CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'services.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="{%  static 'css/normalize.css' %}">
    <!-- Google Font Roboto -->
</head>

<body> 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
            <a class="sec-img" href="{% url 'home' %}"><img src=" {% static 'images/log.jpeg' %}" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="{% if request.path == '/menu/' %}active{% endif %}"><a href="#menu">Menu</a></li>
                <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="#about">About Us</a></li>
                <li class="{% if request.path == '/services/' %}active{% endif %}"><a href="{% url 'services' %}">Services</a></li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="#contact">Contact US</a></li>
            </ul>
            <form method="GET" action="{% url 'home' %}" class="d-flex" role="search">
                <input class="form-control me-2 p-relative" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-search" type="submit"><a href="#">Search</a></button>
            </form>
        </div>
    </div>
</nav>
 
{% block main %}
               
{% endblock main %}
<div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
    {% include 'footet.html' %}
</div>
    <!-- End Footer -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>
</html>

