<div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="info mb-5">
                    <img class="mb-4" src="../CSS/imgs/logo.png" alt="">
                    <p class="mb-5">Crinkle Is Chicken Burger And Fried Chicken Restaurant Based In Egypt.</p>
                    <div class="copyright">
                        Created By <span>Graphberry</span>
                        <div>© 2023 - <span>Al-Sayyad</span> And <span>Sara</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="links">
                    <h5 class="text-light">Links</h5>
                    <ul class="list-unstyled lh-lg">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'services' %}">Our Services</a></li>
                        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-mg-6 col-lg-2">
                <div class="about-us">
                    <h5 class="text-light">About Us</h5>
                    <ul class="list-unstyled lh-lg">
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-us">
                    <h5 class="text-light mb-3">Contact Us</h5>
                    <p>Get in touch with us via mail phone. We are waiting for your call or message</p>
                    <div class="d-flex justify-content-center mt-5 mb-5">
                        <a class="btn main-btn rounded-pill w-100" href="mailto:graphberry@gmail.com">graphberry@gmail.com</a>
                    </div>
                    <div class="contact">
                        <ul class="list-unstyled d-flex align-items-center gap-3 mt-5">
                            <li><a class="d-block text-light" href="https://www.facebook.com/CrinkleEgypt" target="_blank">
                                <i class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"></i></a>
                            </li>
                            <li><a class="d-block text-light" href="https://www.instagram.com/crinkle.egypt" target="_blank">
                                <i class="fa-brands fa-instagram fa-lg instagram rounded-circle p-2"></i></a>
                            </li>
                            <li><a class="d-block text-light"
                                    href="https://www.tiktok.com/@crinkleegypt?is_from_webapp=1&sender_device=pc"
                                    target="_blank"><i class="fa-brands fa-tiktok fa-lg tiktok rounded-circle p-2"></i></a>
                            </li>
                            <li><a class="d-block text-light"
                                    href="https://x.com/CrinkleEgypt?t=82bL6iNHJ1lgVH19eat0oQ&s=09"
                                    target="_blank"><i class="fa-brands fa-x-twitter rounded-circle fa-lg p-2 twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
