{% extends "base.html" %} 
{% block main %}
{% load static %}
 
 
 
    <!-- Start sec -->
    <div class="section" id="menu">
        <h2 class="main-title">MENU</h2>
        <div class="container">
            {% for data in data %}
            <div class="card" style="width: 18rem;">
                <img src="{{ data.imga.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="name">{{ data.name }}</h4>
                    <h5>CALL 15096</h5>
                        <div class="icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/CrinkleEgypt" target="_blank"><i class="fa-brands fa-facebook i"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/crinkle.egypt/" target="_blank"><i class="fa-brands fa-instagram i"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/@crinkleegypt?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fa-brands fa-tiktok i"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa-solid fa-phone i"></i></a>
                                </li>
                                <i class="fa-solid fa-arrow-right-long i-mov"></i>
                            </ul>
                        </div>
                </div>
            </div>
            {% endfor %}
        
        </div>
    </div>
    <!-- End sec -->
    <!-- Start subscribe -->
    <div class="subscribe pt-5 mt-5 pb-5 mb-0 text-white-50 text-center text-md-start">
        <div class="container">
            <form class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="fw-bold fs-5 mb-3">Subscribe to our Newsletter:</div>
                </div>
                <div class="col-md-6 col-lg-7 mb-5">
                    <input class="w-100 text-light p-2 bg-transparent" type="text" placeholder="Enter Email Address">
                </div>
                <div class="col-md-6 col-lg-2">
                    <input class="btn rounded-pill " type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
 
               
{% endblock main %}














 