{% extends "base.html" %} 
{% block main %}
 
    <div class="section">
        <div class="container">
            <h1>Crinkle Restaurant is at your service</h1>
            <div class="text">
                <h2>Times of Work</h2>
                <ul class="frist-ul">
                    <li><i class="fa-regular fa-clock"></i> Time</li>
                    <li>Open Now</li>
                </ul>
                <ul class="last-ul">
                    <li>Saturday: 10 Am - 3 Am</li>
                    <li>Sunday: 10 Am - 3 Am</li>
                    <li>Monday: 10 Am - 3 Am</li>
                    <li>Tuesday: 10 Am - 3 Am</li>
                    <li>Wednesday: 10 Am - 3 Am</li>
                    <li>Thursday: 10 Am - 3 Am</li>
                    <li>Friday: 10 Am - 3 Am</li>
                </ul>
            </div>
            <div class="location">
                <h1>Location</h1>
                <a target="_blank"
                    href="https://www.google.com/maps/dir/?api=1&destination=29.971604094063%2C30.943656069542&fbclid=IwAR27S5F2sZoXCFFkcWC7RhxBpDfXTCw2cbN-obGDn1M1iNg2h9-5j1a1Wng">
                    6th of October City - Central Spine - behind Al Hosary Mosque
                </a>
                <br>
                <a target="_blank"
                    href="https://www.google.com/maps/place/Crinkle/@29.3030199,30.8674561,14z/data=!4m10!1m2!2m1!1zY3JpbmtsZSDYp9mE2LnZhtmI2KfZhg!3m6!1s0x145979f0080f6425:0x95d78e2767b865cc!8m2!3d29.3199223!4d30.8410343!15sChZjcmlua2xlINin2YTYudmG2YjYp9mGIgJIAVoJIgdjcmlua2xlkgESd2VzdGVybl9yZXN0YXVyYW504AEA!16s%2Fg%2F11fhv56mrq?entry=ttu">
                    Ahmed Shawqi Street - in front of the villa, Haifa
                </a>
            </div>
        </div>
    </div>
    <!-- End Section -->
    <!-- Start subscribe -->
    <div class="subscribe pt-5 pb-5 mb-0 text-white-50 text-center text-md-start" id="contact-us">
        <div class="container">
            <form class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="fw-bold fs-5 mb-3">Subscribe to our Newsletter:</div>
                </div>
                <div class="col-md-6 col-lg-7 mb-5">
                    <input class="w-100 text-light p-2 bg-transparent" type="text" placeholder="Enter Email Address">
                </div>
                <div class="col-md-6 col-lg-2">
                    <input class="btn rounded-pill " type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
    <!-- End subscribe -->
{% endblock main %}