 



{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crinkle</title>
    <!-- Bootstrap.CSS -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
    <!-- Font Auesome Library -->
    <link rel="stylesheet" href="{%  static 'css/all.min.css' %}">
 
    <link rel="stylesheet" href="{% static 'services.css' %}">
 
 
 
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="{%  static 'css/normalize.css' %}">
    <!-- Google Font Roboto -->
</head>

<body> 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
            <a class="sec-img" href="{% url 'home' %}"><img src=" {% static 'images/log.jpeg' %}" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="{% if request.path == '/menu/' %}active{% endif %}"><a href="#menu">Menu</a></li>
                <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="#about">About Us</a></li>
                <li class="{% if request.path == '/services/' %}active{% endif %}"><a href="{% url 'services' %}">Services</a></li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="#contact">Contact US</a></li>
            </ul>
            <form method="GET" action="{% url 'home' %}" class="d-flex" role="search">
                <input class="form-control me-2 p-relative" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-search" type="submit"><a href="#">Search</a></button>
            </form>
        </div>
    </div>
</nav>
    <!-- End Header -->
    <!-- Start Section -->
    <div class="section">
        <div class="container">
            <h1>Crinkle Restaurant is at your service</h1>
            <div class="text">
                <h2>Times of Work</h2>
                <ul class="frist-ul">
                    <li><i class="fa-regular fa-clock"></i> Time</li>
                    <li>Open Now</li>
                </ul>
                <ul class="last-ul">
                    <li>Saturday: 10 Am - 3 Am</li>
                    <li>Sunday: 10 Am - 3 Am</li>
                    <li>Monday: 10 Am - 3 Am</li>
                    <li>Tuesday: 10 Am - 3 Am</li>
                    <li>Wednesday: 10 Am - 3 Am</li>
                    <li>Thursday: 10 Am - 3 Am</li>
                    <li>Friday: 10 Am - 3 Am</li>
                </ul>
            </div>
            <div class="location">
                <h1>Location</h1>
                <a target="_blank"
                    href="https://www.google.com/maps/dir/?api=1&destination=29.971604094063%2C30.943656069542&fbclid=IwAR27S5F2sZoXCFFkcWC7RhxBpDfXTCw2cbN-obGDn1M1iNg2h9-5j1a1Wng">
                    6th of October City - Central Spine - behind Al Hosary Mosque
                </a>
                <br>
                <a target="_blank"
                    href="https://www.google.com/maps/place/Crinkle/@29.3030199,30.8674561,14z/data=!4m10!1m2!2m1!1zY3JpbmtsZSDYp9mE2LnZhtmI2KfZhg!3m6!1s0x145979f0080f6425:0x95d78e2767b865cc!8m2!3d29.3199223!4d30.8410343!15sChZjcmlua2xlINin2YTYudmG2YjYp9mGIgJIAVoJIgdjcmlua2xlkgESd2VzdGVybl9yZXN0YXVyYW504AEA!16s%2Fg%2F11fhv56mrq?entry=ttu">
                    Ahmed Shawqi Street - in front of the villa, Haifa
                </a>
            </div>
        </div>
    </div>
    <!-- End Section -->
    <!-- Start subscribe -->
    <div class="subscribe pt-5 pb-5 mb-0 text-white-50 text-center text-md-start" id="contact-us">
        <div class="container">
            <form class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-3">
                    <div class="fw-bold fs-5 mb-3">Subscribe to our Newsletter:</div>
                </div>
                <div class="col-md-6 col-lg-7 mb-5">
                    <input class="w-100 text-light p-2 bg-transparent" type="text" placeholder="Enter Email Address">
                </div>
                <div class="col-md-6 col-lg-2">
                    <input class="btn rounded-pill " type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
    <!-- End subscribe -->
    <div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="info mb-5">
                        <img class="mb-4" src="../CSS/imgs/logo.png" alt="">
                        <p class="mb-5">Crinkle Is Chicken Burger And Fried Chicken Restaurant Based In Egypt.</p>
                        <div class="copyright">
                            Created By <span>Graphberry</span>
                            <div>© 2023 - <span>Al-Sayyad</span> And <span>Sara</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="links">
                        <h5 class="text-light">Links</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Our Services</a></li>
                            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-mg-6 col-lg-2">
                    <div class="about-us">
                        <h5 class="text-light">About Us</h5>
                        <ul class="list-unstyled lh-lg">
                            <li><a href="{% url 'login' %}">Sign In</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contact-us">
                        <h5 class="text-light mb-3">Contact Us</h5>
                        <p>Get in touch with us via mail phone. We are waiting for your call or message</p>
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <a class="btn main-btn rounded-pill w-100" href="mailto:graphberry@gmail.com">graphberry@gmail.com</a>
                        </div>
                        <div class="contact">
                            <ul class="list-unstyled d-flex align-items-center gap-3 mt-5">
                                <li><a class="d-block text-light" href="https://www.facebook.com/CrinkleEgypt" target="_blank">
                                    <i class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"></i></a>
                                </li>
                                <li><a class="d-block text-light" href="https://www.instagram.com/crinkle.egypt" target="_blank">
                                    <i class="fa-brands fa-instagram fa-lg instagram rounded-circle p-2"></i></a>
                                </li>
                                <li><a class="d-block text-light"
                                        href="https://www.tiktok.com/@crinkleegypt?is_from_webapp=1&sender_device=pc"
                                        target="_blank"><i class="fa-brands fa-tiktok fa-lg tiktok rounded-circle p-2"></i></a>
                                </li>
                                <li><a class="d-block text-light"
                                        href="https://x.com/CrinkleEgypt?t=82bL6iNHJ1lgVH19eat0oQ&s=09"
                                        target="_blank"><i class="fa-brands fa-x-twitter rounded-circle fa-lg p-2 twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- End Footer -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
</body>
</html>